{% extends 'base.html' %}

{% block title %}
Обо мне
{% endblock %}

{% block body %}
<div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="container py-5">
      <h1 class="display-5 fw-bold text-white">Краткая информация</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">Меня зовут Дмитрий, я изучаю программирование  и язык Python, в момент написания этого текста, тренирую навыки Web программирования, с использованием фреймворка Flask=).</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a href="https://github.com/Gold-Forest"> <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Work</button></a>
          <a href="https://www.instagram.com/hashenko_dmytro/"> <button  type="button" class="btn btn-outline-light btn-lg px-4 ">Life</button></a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}